* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contain-aboutUs {
  width: 100%;
  padding: 1.5rem 1.5rem;
}
.child-aboutus.general h1 {
  font-family: arvo;
  font-size: 31px;
  border-bottom: 1px solid #52a7e0;
  padding-bottom: 0.5rem;
}
.child-aboutus-title h1,
.child-aboutus-title span {
  font-family: Arvo;
  font-size: 38px;
  text-align: right;
}
.child-aboutus-title span {
  color: #52a7e0;
}
@media (min-width: 1000px) {
  .contain-aboutUs {
    padding-top: 100px;
  }

  .child-aboutus.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .child-aboutus.general h1 {
    width: 400px;
  }
  .child-aboutus.general p {
    width: 1000px;
    text-align: left;
  }
  .child-aboutus-title h1,
  .child-aboutus-title {
    display: block;
    float: left;
    width: 550px;
    padding-left: 8rem;
  }
  .child-float-rigth {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 45rem;
    padding-right: 5rem;
  }
  .child-aboutus.general.office p {
    width: 1000px;
    text-align: center;
  }
}
