.btn-smooth {
  background-color: #09c3a1b2;
  color: #09c3a1b2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(138, 137, 137, 0.648);
}

.btn-smooth:hover {
  background-color: #09c3a1;
  transform: scale(1.2);
}
