.contact-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 100%;
  height: 500px;
  font-family: 'Lato', sans-serif;
}
.form-contain {
  box-shadow: 0px 0px 10px 0.2px gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 600px;
}
.form-contain h1 {
  font-family: Arvo;
}
div p {
  margin-bottom: 1rem;
}
input {
  padding: 0 15px;
  text-align: left;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 1px gray;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
}

label span {
  color: red;
}
textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 1px gray;
}

.btn.submit .flex {
  width: 100px;
  height: 40px;
}
.btn.submit {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
}
