.footer-contain {
  color: white;
  margin-top: -30rem;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: linear-gradient(-40deg, #52a7e0 60%, white 50%);
}
.footer {
  padding-top: 25rem;
  width: 100%;
}

.footer-child {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  width: 100%;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.logo-footer img {
  width: 150px;
}
.footer-child p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.list-contain {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.list-contain .li {
  color: white;
  list-style: none;
  text-decoration: none;
}

.success-stories {
}
.logo-network {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.list-logo {
  display: flex;
  gap: 4rem;
}
.list-logo img {
  width: 30px;
}
.contact-us-contain {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-us-contain h4 {
  margin-bottom: 1rem;
}
.list-data {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding-bottom: 1rem;
}
