.container-general {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #52a7e0;
  overflow: hidden;
  /* z-index: -4; */
}

.header {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-about {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 10rem;
  gap: 3rem;
}
.title h1,
h2 {
  font-size: 80px;
  color: rgb(254, 254, 254);
  text-shadow: 3px 3px 0 black, 5px 5px 0px rgb(255, 255, 255);
  z-index: 4;
  font-family: 'Arvo', serif;
  opacity: 99%;
  text-align: center;
  margin-top: 3rem;
}
.title h2 {
  text-align: center;
  font-size: 40px;
  margin-top: -1rem;
}

.btn {
  width: 150px;
  height: 50px;
  z-index: 10;
  border-radius: 20px 20px;
  border: none;
  background-color: #09c3a1;
  box-shadow: 10px 5px 10px 0px rgba(244, 243, 243, 0.532);
  z-index: 1;
}
.btn a {
  color: white;
  font-size: 16px;
}
.btn-about {
  background-color: transparent;
  border: solid #09c3a1;
  box-shadow: 10px 5px 10px 0px #09c3a1;
}
.containerBackgroundImage {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: absolute;
  opacity: 30%;
}
.backgroundImage {
  margin-top: 5rem;
  width: 500px;
}
.img-container {
  margin-top: -10rem;
}
.img-home {
  width: 180px;
  opacity: 85%;
}
.img1 {
  margin-left: 1rem;
  margin-top: 6rem;
  transform: rotate(20deg);
}
.img2 {
  margin-top: -30rem;
  margin-left: 12rem;
  transform: rotate(-5deg);
}
.container-office-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.office-us {
  margin-top: 10rem;
  text-align: center;
}
.office-us img {
  width: 300px;
}

.wave,
.wave2,
.wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../images/wave.png);
  background-size: 1000px 100px;
  animation: wave 8s linear infinite;
}
@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.wave2 {
  animation: wave2 11s linear infinite;
  opacity: 20%;
}
@keyframes wave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.wave3 {
  animation: wave3 12s linear infinite;
  opacity: 20%;
}
@keyframes wave3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.text-desing {
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}
.text-desing h1 {
  border-bottom: 3px solid #52a7e0;
  font-size: 31px;
  font-family: Arvo;
}
.text-desing p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn-view-more,
.btn-view-more a {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px 20px;
  background-color: #09c3a1;
  text-decoration: none;
  color: white;
}

.description-about h1 {
  text-align: center;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.card {
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0px 5px 10px 5px rgb(202, 199, 199);
  width: 300px;
  height: 200px;
}
.card:hover {
  box-shadow: 0px 5px 10px 5px #09c3a1;
}

@media (min-width: 1000px) {
  .container-general {
    height: 90vh;
  }
  .title h1,
  h2 {
    font-size: 150px;

    margin-top: -2rem;
  }
  .title h2 {
    font-size: 60px;
  }

  .btn {
    margin-top: -5rem;
    width: 200px;
    height: 60px;
  }
  .backgroundImage {
    margin-top: 0;
    width: 1000px;
  }

  .container-aboutus {
    width: 400px;
    margin-left: 12rem;
  }

  .text-desing {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
  }
  .text-desing h1 {
    border-bottom: 3px solid #52a7e0;
    font-size: 31px;
    font-family: Arvo;
  }
  .text-desing p {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .btn-view-more,
  .btn-view-more a {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px 20px;
    background-color: #09c3a1;
    text-decoration: none;
    color: white;
  }

  .description-about h1 {
    text-align: center;
  }
  .img-container {
    position: absolute;
    margin-top: -1rem;
    z-index: -3;
  }
  .img-home {
    width: 400px;
    opacity: 85%;
    margin-left: 28rem;
  }
  .img1 {
    margin-left: 40rem;
    margin-top: 10rem;
    transform: rotate(20deg);
  }
  .img2 {
    margin-top: -40rem;
    margin-left: 65rem;
    transform: rotate(-5deg);
  }
  .container-office-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .office-us {
    margin-top: 10rem;
    width: 600px;
    text-align: center;
  }
  .office-us img {
    width: 800px;
  }

  .what-we-do {
    margin-top: 10rem;
    width: 600px;
    text-align: center;
    margin-left: 40rem;
  }
  .what-we-do h1 {
    border-bottom: none;
  }
  .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transform: rotate(-10deg);
    position: relative;
    left: -20rem;
    margin-top: -20rem;
  }
  .card {
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0px 5px 10px 5px rgb(202, 199, 199);
    width: 200px;
    height: 300px;
  }
  .card:hover {
    animation: card 2s ease-in-out;
    /* animation-delay: 1000ms; */
  }
  @keyframes card {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
