.navbar {
  background-color: #52a7e0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  box-shadow: 5px 5px 5px 5px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.flexNav {
  display: flex;
}
.navbarList {
  align-items: center;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
}

.navText {
  text-decoration: none;
  color: white;
}
.navText:hover {
  transform: scale(1.2);
}
.icon-cancun img {
  width: 100px;
}

@media (max-width: 768px) {
  .navbar.active {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .burguer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #52a7e0;
    position: fixed;
    right: 0;
    margin-right: 1rem;
    border-radius: 50%;
  }
  .navbarList {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 6;
  }
  .navbarList .navText {
    font-size: 2rem;
    display: block;
    right: 0;
  }
  .navbarList.active {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .navbarList.active .navText {
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    transition: all 0.5s ease;
  }
  .navbarList.active {
    position: fixed;
  }
  .navbarList.active .nav {
    display: flex;
    flex-direction: column;
  }
  .bgDiv {
    position: absolute;
    background-color: #52a7e0;
    top: -700px;
    left: -1000px;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
  }
  .bgDiv.active {
    position: fixed;
    border-radius: 0 0 80% 0;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  ul,
  ol {
    list-style: none;
  }

  .nav {
    width: 100%; /*Le establecemos un ancho*/
    margin: 0 auto; /*Centramos automaticamente*/
  }

  .nav > li {
    float: left;
  }

  .nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
  }

  .nav li a:hover {
    background-color: #52a7e0;
  }

  .nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }

  .nav li:hover > ul {
    display: block;
    background-color: #52a7e0;
  }

  .nav li ul li {
    position: relative;
  }

  .nav li ul li ul {
    right: -140px;
    top: 0px;
  }
  .navbar:hover {
    background-color: #52a7e0;
  }
}
@media (min-width: 768px) {
  .navbar {
    width: 100%;
    background-color: #52a7e0ac;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    box-shadow: 5px 5px 5px 5px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 15rem;
    position: fixed;
    z-index: 1000;
  }
  .navbarList {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }
  ul,
  ol {
    list-style: none;
  }

  .nav {
    width: 100%; /*Le establecemos un ancho*/
    margin: 0 auto; /*Centramos automaticamente*/
  }

  .nav > li {
    float: left;
  }

  .nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
  }

  .nav li a:hover {
    background-color: #52a7e0;
  }

  .nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }

  .nav li:hover > ul {
    display: block;
    background-color: #52a7e0;
  }

  .nav li ul li {
    position: relative;
  }

  .nav li ul li ul {
    right: -140px;
    top: 0px;
  }
  .navbar:hover {
    background-color: #52a7e0;
  }
  /* 
  
  .flexNav {
    display: flex;
  }
  .navbarList {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    width: 90%;
    overflow: hidden;
    padding-right: 15rem;
    padding-left: 5rem;
  }

  .navText {
    text-decoration: none;
    color: white;
  }
} */
  .icon-cancun img {
    margin-right: 5rem;
  }
  .burguer {
    display: none;
  }
}
