* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contain-services {
  width: 100%;
  height: 100vh;
  padding: 1.5rem 1.5rem;
}
.child-services.general h1,
.child-services h1 {
  font-family: arvo;
  font-size: 31px;
  border-bottom: 1px solid #52a7e0;
  padding-bottom: 0.5rem;
}
