* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contain-team {
  width: 100%;
  padding: 1.5rem 1.5rem;
}
.child-team.general h1,
.child-team h1 {
  font-family: arvo;
  font-size: 31px;
  border-bottom: 1px solid #52a7e0;
  padding-bottom: 0.5rem;
}
.utils-working.container-general {
  width: 100%;
  height: 90vh;
  background-color: #52a7e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 5rem;
}
.child-utils-working i {
  font-size: 40px;
}
.child-utils-working h1 {
  font-size: 21px;
}
.child-utils-working p {
  font-size: 16px;
}

@media (min-width: 1000px) {
  .contain-team {
    width: 100%;
    padding: 5rem 1.5rem;
  }

  .child-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .child-team h1 {
    width: 300px;
  }
  .child-team p {
    width: 1000px;
    text-align: center;
  }
  .child-team.general h1,
  .child-team h1 {
    font-family: arvo;
    font-size: 31px;
    border-bottom: 1px solid #52a7e0;
    padding-bottom: 0.5rem;
  }
  .utils-working.container-general {
    width: 100%;
    height: 90vh;
    background-color: #52a7e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
  }
  .child-utils-working i {
    font-size: 40px;
  }
  .child-utils-working h1 {
    font-size: 21px;
  }
  .child-utils-working p {
    font-size: 16px;
  }
}
