* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.WebPosition-container-general {
  background: linear-gradient(-10deg, white 50%, #52a7e0 80%);
  /* background-color: #52a7e0; */
  width: 100%;
  height: 110vh;
  padding: 0rem 1.5rem;
}
.wave.solutions,
.wave2.solutions,
.wave3.solutions {
  position: absolute;
  top: 20rem;
}
.WebPosition-container-general h1 {
  font-size: 32px;
  font-family: Arvo;
  margin-top: -13rem;
  color: white;
  opacity: 99%;
}
.container-img-title.web {
  opacity: 20%;
  z-index: -30;
}
.container-img-title.web img {
  margin-top: 1rem;
  width: 300px;
}
.WebPosition-container-general p {
  margin-top: 10rem;
  text-align: center;
}
@media (min-width: 1000px) {
  .WebPosition-container-general {
    width: 100%;
    padding-top: 5rem;
  }
}
